<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head'); %>

<body class="container">
    
    <%-include('../partials/header', {pagina: 'Sobre'}); %>
   
    <main>
        <div class="container-fluid p-0">
            
            <div class="p-5 mb-4 bg-light rounded-3">
              <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Sobre </h1>
                <p class="col-md-8 fs-4">Esta pequena aplicação foi elaborada para o estudo de funcionalidades básicas do EJS.</p>
              </div>
            </div>
           
      </div>
    </main>
      
    <%-include('../partials/footer'); %>
</body>
</html>